/*GLOBAL STYLES*/
/*############################*/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0;
}

div {
  border: 1px solid blue;
  background: white;
  /*padding: 20px;*/
  /*margin: 40px;*/
}

span {
  background: pink;
  display: inline-block;
  padding: 20px;
  margin: 20px;
  width: 400px;
}

body {
  background: #ccc;
}


/*BACKGROUND COLORS*/
/*#######################*/

body {
  background: #F7F5F2;
}

.header {
  background: #F7F5F2;
}

.banner {
  background: #4d717a;
}

.about {
  background: #222;
}

.hoursdirections {
  background: #ffffff;
}

.footer {
  background: #222;
}

/* HEADER STYLES*
/*#########################*/

.header {
  padding: .75em 0 .5em;
  background: #F7F5F2;
  border-bottom: 5px solid #a8988b;
}

.header:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.logo {
  float: left;
}

nav {
  float: right;
  border: 1px solid red;
}

/* MAIN IMAGE STYLES*/
/*#########################*/

.banner {
  background: #4d717a;
  color: #fff;
  border-bottom: 1px solid #a8988b;
  padding: 120px 50px;
}

.tagline {
  font-size: 100px;
}

.address {
  font-size: 30px;
}

/*ABOUT TEXT STYLES*/
/*#########################*/

.about:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear:both;
}

.introtext {
  float: left;
  width: 50%;
}

/*HOURS AND DIRECTIONS*/
/*#########################*/

.hoursdirections:after {
  content: "";
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}

.hoursdirections .address {
  font-size: 2em;
  margin: 3em 0 .5em;
  float: left;
  width: 45%;
}

.hoursdirections .hours {
  float: left;
  clear: left;
  width: 45%;
  font-size: 1.25em;
}

.hoursdirections .map {
  float: left;
}

/*FOOTER STYLES*/
/*#########################*/

.footer {
  background: #222;
  padding: 60px;
}

.footer nav {
  float: none;
}
