/*###############################*/
/*## GLOBAL STYLES ###############*/
/*###############################*/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 100px 0 0 0;
  font-size: 100%;
  line-height: 1.5em;
  color: #222;
  background: #F7F5F2;
  font-family: "Noto Serif", Georgia, serif;
}

/* TYPOGRAPHY */
/*############################*/

h1, h2, h3, h4, h5, nav {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

/* LINKS */
/*############################*/

a, a:active, a:visited {
  color: #4d717a;
  text-decoration: none;
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
}

a:hover, a:focus {
  color: #9cb89a;
  text-decoration:none;
}

/*MODLUES*/
/*#######################*/

nav {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

nav a {
  padding-right: 1.5em;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper:after {
  content: "";
  height: 0;
  display: block;
  visibility: hidden;
  clear:both;
}

/*BACKGROUND COLORS*/
/*#######################*/

.banner {
  background: #4d717a;
}

.hoursdirections {
  background: #ffffff;
}

.footer {
  background: #222;
}

/*#############################*/
/*## LAYOUT ###################*/
/*############################*/

/* HEADER STYLES */
/*#########################*/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  padding: .75em 0 .5em;
  background: #F7F5F2;
  border-bottom: 5px solid #a8988b;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0.0.2);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.header:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.header nav  {
  float: right;
  width: 75%;
  margin-top: 1.8em;
  text-align: right;
}

.logo {
  float: left;
  height: 105px;
  width: 165px;
  margin: 0;
  background: url("../images/logo.png") 0 0 no-repeat;
  background-size: 160px;
  text-indent: -9999em;
}

/* BANNER STYLES */
/*#########################*/

.banner {
  /*background: #4d717a;*/
  min-height: 540px;
  background: url('../images/banner_counter.png') 0 -220px no-repeat;
  background-size: cover;
  border-bottom: 1px solid #a8988b;
  padding: 120px 50px;
  color: #fff;
}

.tagline {
  font-size: 100px;
  line-height: 100px;
}

.address {
  color: #fff;
  font-size: 30px;
}

/*ABOUT STYLES*/
/*#########################*/

.about:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear:both;
}

.about h4 {
  color: #a18c9c;
  border-bottom: 2px solid rgba(161, 140, 156, .25);
}

.about p {
  color: #222f42;
}

.introtext {
  float: left;
  width: 50%;
}

/*HOURS AND DIRECTIONS*/
/*#########################*/

.hoursdirections {
  background: #ffffff;
  color: #694160;
}

.hoursdirections:after {
  content: "";
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}

.hoursdirections .address {
  float: left;
  width: 45%;
  margin: 3em 0 .5em;
  font-size: 2em;
  text-transform: uppercase;
  color: #694160;
}

.hoursdirections .hours {
  float: left;
  clear: left;
  width: 45%;
  color: #798a77;
  font-size: 1.25em;
}

.hoursdirections .map {
  float: right;
  background: black;
  width: 45%;
  height: 220px;
}

/*FOOTER STYLES*/
/*#########################*/

.footer {
  background: #222;
  color: #F7F5F2;
  padding: 60px;
}

.footer nav {
  float: none;
}
